@using watchlist.Models.PeliculasYSeriesDto
@model watchlist.Models.Catalogo.InfoCompletaPeliculasYSeriesDto

@if (Model.listaSeriesYPeliculas != null && Model.listaSeriesYPeliculas.Count > 0)
{
    <div class="divDatos">
    <div>
        <input type="text" id="Busqueda" placeholder="Introduce campos a buscar" />
        <input type="button" id="Buscar" value="Buscar"/>
    </div>
    

    @foreach (DatosPeliculasYSeriesDto datos in Model.listaSeriesYPeliculas)
    {
        <li style="list-style:none; font-size=16px;">
            <input type="button" onclick="IncluirEnVista(@datos.Id, '@datos.Tipo')" value="Añadir" />
            <a href="#" style="text-decoration:none; color:white;" onclick="MostrarFicha(@datos.Id)"> @datos.Nombre</a>
        </li>
        <table id="@datos.Id" hidden>
            <tr>
                <th>Descripcion</th>
                <th>Genero</th>
                <th>Fecha</th>
                <th>Caratula</th>
            </tr>
            <tr>
                <td>@datos.Descripcion</td>
                <td>@datos.Genero</td>
                <td>@datos.Fecha</td>
                <td><img src="@datos.Caratula"></td>
            </tr>

        </table>
    }

    </div>
}
else
{
    <p>No hay ni Peliculas ni series</p>
}


<script>

    $("#Buscar").click(function () {
        let textoBusqueda = $("#Busqueda").val();               
        $.ajax({
            type: "POST",
            url: "/Catalogo/CatalogoCompleto",
            data: { textoFiltrado: textoBusqueda },
            success: function (html) {
                console.log(html);
                $("#DatosPeliculasYSeriesPorLista").html(html)
            }
        });
    });

function MostrarFicha(id){

       let estaOculto = $("#" + id).prop('hidden');

        $("#" + id).prop('hidden', !estaOculto);

   }

    function IncluirEnVista(idPeliculaSerie, tipo) {

        let listaSeleccionada = $("#selector option:selected").val();

        $.ajax({
            type: "POST",
            url: "/Catalogo/AddNuevaPeliculaSerieALista",
            data: {
                IdLista: listaSeleccionada, Tipo: tipo, idPeliculaSerie: idPeliculaSerie
                },
            success: function (inserccionCorrecta) {
                if(inserccionCorrecta){
                    alert("Pelicula o serie añadida a la lista");
                }else{
                    alert("Error al añadir pelicula o serie");
                }
            },
        })
    }



</script>