@using Newtonsoft.Json
@using watchlist.Models.PeliculasYSeriesDto
@{
    ViewData["Title"] = "Catalogo";
}
@model watchlist.Models.Catalogo.InfoCompletaPeliculasYSeriesDto


@if (Model.listaSeriesYPeliculas != null && Model.listaSeriesYPeliculas.Count > 0)
{
    <div class="divDatos">
       @foreach (DatosPeliculasYSeriesDto datos in Model.listaSeriesYPeliculas)
        {
        <li style="list-style:none; font-size=16px;">
            <a style="text-decoration:none; color:white;" href="#" onclick="MostrarFicha(@datos.Id)"> @datos.Nombre</a>
        </li>
            <table class="table-responsive-md" id="@datos.Id" hidden>
                <tr>
                    <td>@datos.Descripcion</td>
                    <td>@datos.Genero</td>
                    <td>@datos.Fecha</td>
                    <td><img src="@datos.Caratula"></td>
                </tr>
                
            </table>
        }

    </div>
    
    
}

<script>
  

   function MostrarFicha(id){

       let estaOculto = $("#" + id).prop('hidden');

        $("#" + id).prop('hidden', !estaOculto);       
   }

   

</script>