@using Newtonsoft.Json
@using watchlist.Models.PeliculasYSeriesDto
@{
    ViewData["Title"] = "Catalogo";
}
@model watchlist.Models.Catalogo.InfoCompletaPeliculasYSeriesDto

<h1>catalogo de peliculas y series</h1>

@if (Model.listaSeriesYPeliculas != null && Model.listaSeriesYPeliculas.Count > 0)
{
    
       @foreach (DatosPeliculasYSeriesDto datos in Model.listaSeriesYPeliculas)
        {
            <li>
            <a href="#" onclick="MostrarFicha(@datos.Id)"> @datos.Nombre</a>
        </li>
            <table id="@datos.Id" hidden> 
                <tr>                    
                    <th>Descripcion</th>
                <th>Genero</th>
                <th>Fecha</th>
                <th>Caratula</th>
                </tr>                
                <tr>
                    <td>@datos.Descripcion</td>
                    <td>@datos.Genero</td>
                    <td>@datos.Fecha</td>
                    <td><img src="@datos.Caratula"></td>
                </tr>
                
            </table>
        }
    
    
}

<script>
  

   function MostrarFicha(id){

       let estaOculto = $("#" + id).prop('hidden');

        $("#" + id).prop('hidden', !estaOculto);       
   }

   

</script>